@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    font-size: 100%;
    background-image: url(./background.jpg);
}
.topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.perfil-topo{
    height: 72px;
    justify-content: space-around;
    font-family: "Sarala", serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
    gap: 32px

}

.conteudo{
    margin-bottom: 68px;
    border-top: 0.4px solid #fff2e7
}
.conteudo-primeiro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-primeiro-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px
}
.conteudo-primeiro-titulo{
    font-family: "Righteous", serif;
    font-weight: 400;
    font-size: 19px;
    color:white
}
.conteudo-primeiro-subtitulo{
    font-family: "Sarala", serif;
    font-weight: 400;
    font-size: 19px;
}
.gif-inicial-chopper{
    height: 200px;
}
.rodape{
    font-family: "Sarala", serif;
    padding: 32px;
    border-top: 0.4px solid #fff2e7
}
